@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply font-body font-[14px];
  }

  h1,
  h2,
  h3,
  h4 {
    @apply font-heading;
  }

  h1 {
    font-size: 28px;
  }

  h2 {
    font-size: 20px;
    line-height: 28px;
  }

  h3 {
    font-size: 20px;
  }

  h4 {
    font-size: 18px;
  }

  li {
    -webkit-tap-highlight-color: transparent;
  }
}
